@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@200&display=swap');
body {
    margin: 0;
    padding: 0;
    height: 100%;
    
}

.banner {

    width: 100%;
    height: 100vh; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.banner .introduction{
    font-family: 'Big Shoulders Display', sans-serif;
    color: white;
    position: relative;
    z-index: 1;
    position: relative;
    text-align: center;
    font-size: 100px; 
    font-weight: bold;
       
}
.botao{
    background: transparent;
   
}

