@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@200&display=swap');
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    
}

.banner {

    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
   
    
}
.banner .introduction{
    font-family: 'Big Shoulders Display', sans-serif;
    color: white;
    text-align: center;
    font-size: 100px; 
    font-weight: bold;
       
}

.titulos{
color: white;
font-family: 'Big Shoulders Display', sans-serif;
font-weight: bolder;
font-size: 120px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 0;
margin-bottom: 50px;

}



video.hidden{
    opacity: 0;
    transition: opacity 1.5s ease;
}


.showExperience{
    opacity: 1;
    transition: opacity 6s ease;
}

.hideExperience{
    opacity: 0;
}


/* style da time line*/

@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");

.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 700px;
  position: relative;
}
.timeline__content-title {
  font-weight: normal;
  font-size: 40px;
  margin: -10px 0 0 0;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: "Pathway Gothic One", sans-serif;
  color: #fff;
}
.timeline__content-desc {
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.7);
  font-family: Cardo;
  font-weight: normal;
  line-height: 25px;
}
.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: grey;
}

.timeline-item {
  padding: 40px 0;
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);
}
.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-family: "Pathway Gothic One", sans-serif;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  right: calc(-100% - 56px);
}
.timeline-item:nth-child(even) {
  align-self: flex-end;
}
.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}

/* continua o style dos componentes básicos*/


.botao{
  color: white;
}


section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(185, 169, 169, 0);
  box-shadow: 0 4px 8px white;
  border-radius: 10px
}


.education-item {
  font-family: "Pathway Gothic One", sans-serif;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  color: white;
}


.icon {
  width: 40px;
  height: 40px;
  margin: 10px;
  filter: invert(1);
}

.CI {
  text-decoration: none;
  color: #fff;
}

.contact-links {
  display: flex;
  justify-content: center;
}


